

.content
  .row
    %h2
      - if user_can_edit
        %a.btn.btn-default.btn-sm.create_btn{:type => "button", 'data-toggle' => "modal", 'data-target' => "#newSpaces" }
          Edit Case...
      .title
        = @space.domain
  .row
    .third_page
      = image_tag(@space.main_icon.url(:medium), :width => '100%', :padding => 'auto')
    
    .two_third_page
      .row
        %h4
          .title
            %strong
              Name:
            = @space.name
      .row
        %h4
          .title
            %strong
              Domain:
            = @space.domain
      .row
        %h4
          .title
            %strong
              Tagline:
            = @space.tagline
      .row
        %h4
          .title
            %strong
              Subscribers:
            - @space.subscribers.each do |b|
              = b.email



= content_for(:modal_dlog) do
  .modal.fade#newSpaces
    .modal-dialog
      .modal-content.std_modal
        = render :partial => 'uns_park/spaces/form', :locals => {:space => @space}
